<link rel="stylesheet" href="../css/welcome.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- NAVBAR dentro de la card -->
<nav class="navbar navbar-expand-lg mb-4">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="../index.html">
            <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center"
                style="width: 40px; height: 40px">
                <strong>P</strong>
            </div>
            <span class="ms-2 fw-bold text-dark">Pablo Andres</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-list text-primary fs-2"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-secondary fw-semibold" href="../index.html">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link text-secondary fw-semibold" href="../estudios.html">Estudios</a>
                </li>
                <li class="nav-item"><a class="nav-link text-secondary fw-semibold"
                        href="../experiencia.html">Experiencia</a></li>
                <li class="nav-item"><a class="nav-link text-secondary fw-semibold" href="../juegos.html">Juegos</a></li>
            </ul>
        </div>
    </div>
</nav>